@font-face {
  font-family: "ruigslay";
  src:
    url("/static/fonts/ruigslay.otf") format("opentype"),
    url("/static/fonts/ruigslay.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-display: ruigslay, system-ui, sans-serif;
  --font-sans: system-ui, sans-serif;
  --font-serif: Charter, "Bitstream Charter", "Sitka Text", Cambria, serif;
}

@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

h1 {
  @apply text-2xl font-semibold font-sans;
}

h2 {
  @apply text-xl font-sans;
}

h3 {
  @apply text-lg font-sans;
}

a {
  @apply hover:underline text-blue-700 font-sans;
}

p {
  @apply max-w-prose;
}
